{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notitia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/post.js' %}"></script>
    <script>
        $(document).ready(function () {
            document.getElementsByClassName('main')[0].classList.add('main_loaded');
        });
    </script>
    <link rel="stylesheet" href="{% static "login/style.css" %}">
    <style>
        input:focus {
            border-color: whitesmoke !important;
        }
        button:hover {
            color: whitesmoke !important;
        }
    </style>

</head>
<body class="main-body cover">
<div class="main">
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 text-center">
                    <h1 class="inverted normal-text-header">Welcome to Notitia, join the mailing list for latest
                        developments.</h1>
                </div>
            </div>
            <div class="row justify-content-md-center align-item-center">
                <div class="col-md-4 align-self-center">
                    <form action="" method="post" id="join-list">
{#                        {% csrf_token %}#}
                        <div class="form-group">
                            <input type="email" class="form-control normal-text" id="email" placeholder="Email"
                                   style="background-color: transparent; color: whitesmoke"
                                   name="email_address"
                                   required>
                            <div class="text-center">
                                <button type="submit" class="btn btn-default normal-text">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center row justify-content-md-center align-item-center">
                <span id="message" class="normal-text col-md-4">{{ submitted }}</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>