{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 text-center" style="margin-bottom: 2em">
                    <h1 class="normal-text-header">Log in to your account</h1>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center align-item-center">
                <div class="col-md-4 align-self-center">
                    <span id="registered_welcome">{{ registered }}</span>
                    <form action="" method="post" id="join-list">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <input type="email" class="form-control normal-text" id="email" placeholder="Email"
                                       style="background-color: transparent; margin-top: 3em"
                                       name="email"
                                       required>
                            </div>
                            <div class="row">
                                <input type="password" class="form-control normal-text" id="password"
                                       placeholder="Password"
                                       style="background-color: transparent; margin-top: 2em"
                                       name="password"
                                       required>
                            </div>
                            <div class="text-center"
                                 style="margin-top: 2em">
                                <button type="submit"
                                        class="btn btn-default normal-text">
                                    Login
                                </button>
                                <br>
                                <button class="btn btn-default normal-text"
                                        style="margin-top: 1em" disabled>
                                    <a href="{% url 'signup' %}"
                                       style="padding: inherit">Don't have an account? Register</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center row justify-content-md-center align-item-center">
                <span id="message" class="normal-text col-md-4" style="color: red;">{{ submitted }}</span>
            </div>
        </div>
    </div>
{% endblock %}
