{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script>
        $(document).ready(function () {
            var quick_login = $('#quick_login');
            quick_login.attr('disabled', '');
            quick_login.attr('style', 'cursor: inherit;');
            $('#quick_login_icon').attr('style', 'opacity: 0;');
        });
        function getValidationMessage() {
            var message = '';
            var passwordElement = $('#password');

            if (passwordElement.val().length < 10) {
                message += 'The password is too short.<br/>';
            }

            if (passwordElement.val() === '' || passwordElement.val() !== $('#confirm_password').val()) {
                message += 'The passwords do not match.<br/>'
            }

            return message;
        }

        function checkValid() {
            var button = document.getElementById('submit_button');
            if (getValidationMessage() === '') {
                button.removeAttribute('disabled');
            } else {
                button.setAttribute('disabled', '');
            }
        }

        function checkMatch() {
            var message = getValidationMessage();
            if (message !== '') {
                document.getElementById('message').innerHTML = message;
            } else {
                document.getElementById('message').innerHTML = '';
            }
        }

    </script>
{% endblock %}
{% block content %}
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 text-center" style="margin-bottom: 2em">
                    <h1 class="normal-text-header">Create an account</h1>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center align-item-center">
                <div class="col-md-4 align-self-center">
                    <form action="" method="post" id="signup">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <input type="email" class="form-control normal-text" id="email" placeholder="Email"
                                       style="background-color: transparent; margin-top: 3em;"
                                       name="email"
                                       required>
                            </div>
                            <div class="row">
                                <input type="password" class="form-control normal-text" id="password"
                                       placeholder="Password"
                                       style="background-color: transparent; margin-top: 2em"
                                       name="password"
                                       onkeyup="checkValid(); checkMatch();"
                                       required>
                            </div>
                            <div class="row">
                                <input type="password" class="form-control normal-text" id="confirm_password"
                                       placeholder="Confirm password"
                                       style="background-color: transparent; margin-top: 2em"
                                       name="confirm_password"
                                       onkeyup="checkValid(); checkMatch();"
                                       required>
                            </div>
                            <div class="row">
                                <input type="text" class="col-lg-6 form-control normal-text" id="first_name"
                                       placeholder="First name (optional)"
                                       style="background-color: transparent; margin-top: 2em;"
                                       name="first_name">
                                <input type="text" class="col-lg-6 form-control normal-text" id="last_name"
                                       placeholder="Last name (optional)"
                                       style="background-color: transparent; margin-top: 2em;"
                                       name="last_name">
                            </div>

                            <div class="text-center"
                                 style="margin-top: 2em">
                                <button class="btn btn-default normal-text"
                                        id="submit_button"
                                        disabled>
                                    <a>Register</a>
                                </button>
                                <br>
                                <button class="btn btn-default normal-text"
                                        id="submit_button"
                                        style="margin-top: 1em;"
                                        disabled>
                                    <a href="{% url 'login' %}"
                                       style="padding: inherit">Already have an account? Log in</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center row justify-content-md-center align-item-center">
                <span id="message" class="normal-text col-md-4" style="color: red">{{ submitted }}</span>
            </div>
        </div>
    </div>
{% endblock %}