{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script>
        function getValidationMessage() {
            var message = '';
            var passwordElement = $('#password');

            if(passwordElement.val().length < 10) {
                message += 'The password is too short.<br/>';
            }

            if(passwordElement.val() === '' || passwordElement.val() !== $('#confirm_password').val()) {
                message += 'The passwords do not match.<br/>'
            }

            return message;
        }

        function checkValid() {
            var button = document.getElementById('submit_button');
            if (getValidationMessage() === '') {
                button.removeAttribute('disabled');
            } else {
                button.setAttribute('disabled', '');
            }
        }

        function checkMatch() {
            var message = getValidationMessage();
            if (message !== '') {
                document.getElementById('message').innerHTML = message;
            } else {
                document.getElementById('message').innerHTML = '';
            }
        }

    </script>
{% endblock %}
{% block content %}
    <div class="vertical-center">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8 text-center" style="margin-bottom: 2em">
                    <h1 class="inverted normal-text-header">Create an account</h1>
                </div>
            </div>
            <div class="row justify-content-md-center align-item-center">
                <div class="col-lg-4 align-self-center">
                    <form action="" method="post" id="signup">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email"></label>
                            <input type="email" class="form-control normal-text" id="email" placeholder="Email"
                                   style="background-color: transparent"
                                   name="email"
                                   required>
                            <input type="password" class="form-control normal-text" id="password"
                                   placeholder="Password"
                                   style="background-color: transparent; margin-top: 2em"
                                   name="password"
                                   onkeyup="checkValid(); checkMatch();"
                                   required>
                            <input type="password" class="form-control normal-text" id="confirm_password"
                                   placeholder="Confirm password"
                                   style="background-color: transparent; margin-top: 2em"
                                   name="confirm_password"
                                   onkeyup="checkValid(); checkMatch();"
                                   required>
                            <div class="text-center"
                                 style="margin-top: 2em">
                                <button class="btn btn-default normal-text"
                                        id="submit_button"
                                        disabled>
                                    <a>Register</a>
                                </button>
                                <br>
                                <button class="btn btn-default normal-text"
                                        id="submit_button"
                                        style="margin-top: 1em;"
                                        disabled>
                                    <a href="{% url 'login' %}"
                                       style="padding: inherit">Log in</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center row justify-content-md-center align-item-center">
                <span id="message" class="normal-text col-md-4" style="color: red">{{ submitted }}</span>
            </div>
        </div>
    </div>
{% endblock %}