@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Muli:200,300');

html {
    height: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    opacity: 1 !important;
}

body {
    background-color: whitesmoke;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

li a {
    text-decoration: none;
    color: inherit;
    display: block;
    border: 1px transparent;
    border-bottom-style: solid;
    transition: 0.3s ease;
    white-space: nowrap;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    text-decoration: none;
    border-bottom: solid;
    border-width: 1px;
    color: inherit;
}

#burger-1, #burger-2, #burger-3 {
    width: 1.8em;
    height: 0.2em;
    background-color: black;
    margin-top: 0.4em;
    border-radius: 2px;
    transition: 0.3s ease;
}

.cross #burger-1 {
    -webkit-transform: rotate(45deg) translate(0, 0.85em);
    transform: rotate(45deg) translate(0, 0.85em);
    border-radius: 0;
}

.cross #burger-3 {
    -webkit-transform: rotate(-45deg) translate(0, -0.85em);
    transform: rotate(-45deg) translate(0, -0.85em);
    border-radius: 0;
}

.cross #burger-2 {
    -webkit-transform: translate(8em, 0) rotate(-90deg);
    transform: translate(8em, 0) rotate(-90deg);
    border-radius: 0;
    background-color: whitesmoke;
}

#hamburger {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 1em;
    transition: 0.3s ease;
}

#menu {
    font-family: "Muli", sans-serif;
    font-weight: 200;
    position: fixed;
    margin-top: 3em;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    transition: 0.3s ease;
    background-color: whitesmoke;
    display: block;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin-top: 1em;
}

#menu ul {
    margin-top: 1em;
    padding-left: 1.5em;
}

.expose#menu {
    width: 10em;
}

#content {
    /*margin-top: -1.5em;*/
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    transition: 0.3s ease;
    color: black;
    padding-left: 4em;
    padding-right: 4em;
    font-family: "Muli", sans-serif;
    font-weight: 200;
}

#content.shimmy {
    /*transform: translate(10em);*/
    margin-left: 15em;
    filter: blur(3px) brightness(0.3);
    background-color: darkgrey;
    z-index: -1;
}

.disable_all {
    pointer-events: none;
}
