@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Muli:200,300,400');

::selection {
    background: black;
    color: white;
}

html {
    height: 100%;
}

body {
    background-color: whitesmoke;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

#menu ul {
    height: 100%;
}

li a {
    text-decoration: none;
    color: inherit;
    display: block;
    /*border: 1px transparent;*/
    /*border-bottom-style: solid;*/
    transition: 0.3s ease;
    white-space: nowrap;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    text-decoration: none;
    /*border-bottom: solid;*/
    /*border-width: 1px;*/
    color: black;
}

#quick_login {
    margin-top: 0.75rem;
    position: fixed;
    right: 0;
    z-index: 1;
}

#quick_login_icon {
    margin-right: 1rem;
}

#burger-1, #burger-2, #burger-3 {
    width: 1.8rem;
    height: 0.2rem;
    background-color: black;
    margin-top: 0.4rem;
    border-radius: 2px;
    transition: 0.3s ease;
}

.cross #burger-1 {
    -webkit-transform: rotate(45deg) translate(0, 0.85em);
    transform: rotate(45deg) translate(0, 0.85em);
    border-radius: 0;
}

.cross #burger-3 {
    -webkit-transform: rotate(-45deg) translate(0, -0.85em);
    transform: rotate(-45deg) translate(0, -0.85em);
    border-radius: 0;
}

.cross #burger-2 {
    -webkit-transform: translate(8em, 0) rotate(-90deg);
    transform: translate(8em, 0) rotate(-90deg);
    border-radius: 0;
    background-color: whitesmoke;
}

#hamburger {
    position: fixed;
    display: block;
    cursor: pointer;
    margin-top: 0.75rem;
    margin-left: 1.5rem;
    transition: 0.3s ease;
    z-index: 1;
}

#menu {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    position: fixed;
    margin-top: 3rem;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    transition: 0.3s ease;
    background-color: whitesmoke;
    display: block;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin-top: 1rem;
}

#menu ul {
    margin-top: 1rem;
    padding-left: 1.5rem;
}

.expose#menu {
    width: 10rem;
}

#content {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    transition: 0.3s ease;
    color: black;
    font-family: "Muli", sans-serif;
    font-weight: 200;
}

#content.shimmy {
    /*transform: translate(10em);*/
    margin-left: 15rem;
    filter: brightness(0.3);
    background-color: darkgrey;
}

#real-content {
    padding-left: 4rem;
    padding-right: 4rem;
}

.navbar {
    padding-left: 4rem;
}

.disable_all input {
    pointer-events: none;
}

.disable_all button {
    pointer-events: none;
}

.disable_all a {
    pointer-events: none;
}


.form-control:focus{
    box-shadow: none !important;
    border-color: black !important;
    transition: 0.5s ease !important;
    background-color: transparent; !important;
}

button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}

button {
    background-color: transparent; !important;
    color: #666666; !important;
    border-radius: 0 !important;
    transition: 0.2s ease !important;
    cursor: pointer;
}

button:hover {
    color: black;
}

button:disabled {
    cursor: inherit;
}

button:disabled:hover {
    color: #666666;
}
