@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Muli:200,300');

.main-body {
    height: 100vh;
}

.cover{
    overflow: hidden;
}

.main {
    background-color: whitesmoke;
    transition: 3s ease;
}

.main_loaded{
    background-color: #050000;
}

.inverted {
    color: white;
    opacity: 0.8;
}

.normal-text-header{
    font-family: "Muli", sans-serif !important;
    font-weight: 200 !important;
}

.normal-text {
    font-family: "Muli", sans-serif !important;
    font-weight: 300 !important;
}

.vertical-center {
    min-height: 100vh !important;
    display: flex;
    align-items: center;
}

input {
    color: black;
    border-radius: 0 !important;
    border: 1.5px darkgrey !important;
    border-bottom-style: solid !important;
    background-color: transparent;
    transition: 0.3s ease;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: black !important;
    transition: 0.5s ease !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

button {
    background-color: transparent;
    color: darkgrey;
    border-radius: 0 !important;
    transition: 0.5s ease !important;
}

button:hover {
    color: black;
}

#message {
    color: darkgrey;
    font-size: 1em;
    min-height: 3em;
}
