.heading {
    margin-top: 1rem;
}

.section_name {
    display: block;
}

#title {
    font-size: 2.5rem;
    text-align: center;
    font-family: "Muli", sans-serif;
    font-weight: 300;
}

#subtitle {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;!important;
    font-weight: 500;!important;
}

#content_body {
    font-family: "Roboto", sans-serif;!important;
    font-weight: 400;!important;
    white-space: pre;
}

.story {
    background-color: transparent;!important;
    border: none;!important;
    cursor: text;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

.publish_menu {
    position: sticky;
    text-align: right;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color: darkgrey;
}
