@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Muli:200,300');

.main-body {
    height: 100vh;
}

.cover{
    overflow: hidden;
}

.main {
    background-color: #050000;
}

.inverted {
    color: white;
    opacity: 0.8;
}

.normal-text{
    font-family: "Muli", sans-serif !important;
    font-weight: 200 !important;
}

.vertical-center {
    min-height: 100vh !important;
    display: flex;
    align-items: center;
}

input {
    font-family: "Muli", sans-serif !important;
    font-weight: 300 !important;
    color: whitesmoke !important;
    border-radius: 0 !important;
    border: 1.5px darkgrey !important;
    border-bottom-style: solid !important;
    background-color: transparent;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: whitesmoke !important;
    transition: ease;
    transition-duration: 0.5s;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

button {
    background-color: transparent;
    color: darkgrey;
    border-radius: 0 !important;
    margin: 10px !important;
}

button:hover {
    transition: 0.5s ease;
    color: whitesmoke;
}
